@import "../../shared/base.less";
.FirstScreen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top:100px; 
  background-size: 100% 600px;
  background-image: radial-gradient(farthest-corner at -10% 10%,@primary 60%,#2b91be 100%);
  background-repeat: no-repeat;
}