@default: #ffffff;
@primary: #373277;
@raised:#477a32;
@decline: #333333;

@decline-lighten-20: lighten(@decline,20%);
@decline-lighten-40: lighten(@decline,40%);
@decline-lighten-60: lighten(@decline,60%);

@raised-lighten-10: lighten(@raised,10%);
@primary-fade-10:fade(@primary,10%);
@primary-fade-80:fade(@primary,80%);

@default-darken-5:darken(@default,5%);

